.green{
    background-color: green;
}

.red {
    background-color: red;
}
.yellow{
    background-color: yellow;
}
.dropdown-item-red{
    color:red;
    margin-left: 15px;
}

.post-img {
  height: 450px;   
}

.post-img-paul img{
  width: 100%;
  height: 100%;
  object-fit:fill; 
}

.post-img img {
  width: 100%;
  height: 100%;
  object-fit:cover;
}

